/* Gaëtan Langhade, Interfacteur, octobre 2016 */


/* cf. rexul-svg.css */
text	{
	dominant-baseline: central;
}
.nettete	{ /* dont bordures, mais pas de support IE/Edge */
	shape-rendering: crispEdges;
}
.bordure-largeur-absolue	{ /* pas de support IE/Edge */
	vector-effect: non-scaling-stroke;
}


/* dans rexul.css */
svg	{
	box-sizing: content-box;
	vertical-align: middle;
}
svg:not(:root)	{
	overflow: hidden;
}
